<div class="page-container">
  
  <div class="page-header" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="header-info">
      <h1 class="page-title">Inventaire</h1>
      <p class="page-subtitle">Produits de la boutique <strong>{{ activeBoutiqueName }}</strong></p>
    </div>
    <div class="header-actions">
      <a routerLink="/boutique/produits/nouveau" class="btn-primary text-decoration-none">Nouveau Produit</a>
    </div>
  </div>

  <div class="pro-card">
    <table class="pro-table">
      <thead>
        <tr>
          <th>Visuel</th>
          <th>Nom du produit</th>
          <th>Prix unitaire</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produits">
          
          <td style="width: 120px;">
            <div class="carousel-container">
              <button *ngIf="p.images?.length > 1" (click)="prevImage(p)" class="btn-arrow">◀</button>
              
              <div class="img-badge-wrapper">
                <img [src]="p.images[p.currentIndex] || 'assets/placeholder-shop.jpg'" class="product-thumb">
                <span *ngIf="p.promo" class="promo-badge">PROMO</span>
              </div>

              <button *ngIf="p.images?.length > 1" (click)="nextImage(p)" class="btn-arrow">▶</button>
            </div>
            <div *ngIf="p.images?.length > 1" class="carousel-counter">{{ p.currentIndex + 1 }}/{{ p.images.length }}</div>
          </td>
          
          <td class="font-bold">{{ p.nom }}</td>
          <td class="price-text">{{ p.prix }} Ar</td>
          
          <td class="text-right actions-cell">
            <div class="table-actions">
              <a [routerLink]="['/boutique/produits/modifier', p._id]" class="btn-sm btn-outline-edit" style="text-decoration: none;">
                <i class="fa-solid fa-pen-to-square"></i> Modifier
              </a>
              
              <button (click)="deleteProduit(p._id)" class="btn-sm btn-outline-delete">
                <i class="fa-solid fa-trash"></i> Supprimer
              </button>
            </div>
          </td>
                    
        </tr>
        <tr *ngIf="produits.length === 0">
          <td colspan="4" class="empty-state">Aucun produit dans cette boutique. Commencez à vendre !</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>