<div class="container" *ngIf="product">
  
  <div class="detail-layout">
    
    <div class="visual-col">
      <div class="main-frame">
        <span *ngIf="product.promo" class="tag-promo">PROMO</span>
        <img [src]="selectedImage || 'assets/no-img.png'" class="hero-img">
      </div>
      
      <div class="thumbs-list" *ngIf="product.images.length > 1">
        <img *ngFor="let img of product.images" 
             [src]="img" 
             (click)="changeImage(img)"
             [class.active]="selectedImage === img">
      </div>
    </div>

    <div class="info-col">
      <h1 class="p-title">{{ product.nom }}</h1>
      <div class="p-price">{{ product.prix | number }} Ar</div>

      <div class="divider"></div>

      <p class="p-desc">{{ product.description }}</p>

      <div class="buy-box">
        <div class="qty-control">
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </div>
       <button (click)="addToCart()" class="btn-add-cart">
          <i class="fa-solid fa-cart-shopping"></i> Ajouter au panier
        </button>
      </div>

      <div class="trust-badges">
        <div class="badge-item">
          <i class="fa-solid fa-truck-fast" style="color: #4f46e5;"></i> Livraison Rapide
        </div>
        
        <div class="badge-item">
          <i class="fa-solid fa-lock" style="color: #10b981;"></i> Paiement Sécurisé
        </div>
        
        <div class="badge-item">
          <i class="fa-solid fa-headset" style="color: #f59e0b;"></i> Support 24/7
        </div>
      </div>
      <div class="seller-info-card" *ngIf="product.id_boutique?.id_responsable">
        <h3 class="seller-title">Besoin d'informations ?</h3>
        <p class="seller-subtitle">Contactez directement le responsable de la boutique : <strong>{{ product.id_boutique?.nom }}</strong></p>
        
        <div class="contact-list">
          <div class="contact-item">
            <div class="icon-wrapper"><i class="fa-solid fa-envelope"></i></div>
            <div class="contact-text">
              <span class="c-label">Email professionnel</span>
              <a [href]="'mailto:' + product.id_boutique.id_responsable.mail" class="c-value link">
                {{ product.id_boutique.id_responsable.mail }}
              </a>
            </div>
          </div>

          <div class="contact-item" *ngIf="product.id_boutique.id_responsable.contact" style="margin-left: 40px;">
            <div class="icon-wrapper"><i class="fa-solid fa-phone"></i></div>
            <div class="contact-text">
              <span class="c-label">Téléphone direct</span>
              <a [href]="'tel:' + product.id_boutique.id_responsable.contact" class="c-value link">
                {{ product.id_boutique.id_responsable.contact }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>