<div class="container" *ngIf="shopData">
  
  <div class="shop-banner">
    <img [src]="shopData.boutique.logo" class="logo-circle">
    <div class="info">
      <h1>{{ shopData.boutique.nom }}</h1>
      <p>{{ shopData.boutique.description }}</p>
      <span class="location">📍 Emplacement : {{ shopData.boutique.id_box?.nom || 'Non défini' }}</span>
    </div>
  </div>

  <hr>

  <h2 class="section-title">Produits disponibles</h2>
  
  <div class="products-grid">
    <div class="product-card" *ngFor="let p of shopData.produits">
      <img [src]="p.images[0] || 'https://placehold.co/200'" class="product-img">
      
        <div class="product-details">
            <h4>{{ p.nom }}</h4>
            <p class="price">{{ p.prix | number }} Ar</p>
            
            <button [routerLink]="['/produit-client', p._id]" class="btn-detail">
                Voir le produit
            </button>
        </div>
    </div>
  </div>

  <div *ngIf="shopData.produits.length === 0" class="no-products">
    Cette boutique n'a pas encore ajouté de produits.
  </div>
</div>