<div class="container" *ngIf="shopData">
  
<div class="store-header">
  <div class="store-cover"></div> 

  <div class="store-profile-container">
    <div class="logo-wrapper">
      <img [src]="shopData.boutique.logo || 'assets/placeholder-shop.jpg'" 
           class="store-logo" 
           alt="Logo {{ shopData.boutique.nom }}">
    </div>

    <div class="store-info-content">
      <div class="info-header">
        <h1>{{ shopData.boutique.nom }}</h1>
        <div class="store-badges">
  
          <span class="badge category">
            <i class="fa-solid fa-tag icon" style="color: #64748b;"></i> 
            {{ shopData.boutique.id_categorie?.nom }}
          </span>
          
          <span class="badge location">
            <i class="fa-solid fa-location-dot icon" style="color: #ef4444;"></i> 
            {{ shopData.boutique.id_box?.nom }}
          </span>
          
        </div>
      </div>
      
      <p class="store-description">
        {{ shopData.boutique.description || 'Bienvenue dans notre boutique officielle sur Olympia Mall.' }}
      </p>
    </div>
  </div>
</div>

  <h2 class="section-heading">Collection <span class="count">({{ shopData.produits.length }})</span></h2>
  
  <div class="products-grid">
    <a [routerLink]="['/produit-client', p._id]" class="product-card" *ngFor="let p of shopData.produits">
      <div class="product-image-box">
         <img [src]="p.images[0] || 'assets/no-img.png'" loading="lazy">
        <span class="btn-quick-view">Voir</span>
      </div>
      
      <div class="product-info">
        <h4>{{ p.nom }}</h4>
        <div class="price-row">
          <span class="price">{{ p.prix | number }} Ar</span>
        </div>
      </div>
    </a>
  </div>

  <div *ngIf="shopData.produits.length === 0" class="empty-state">
    <p>🍃 Cette boutique prépare sa collection...</p>
  </div>
</div>