<div class="container">
  <header class="hero">
    <h1>Bienvenue au Centre Commercial Olympia 🛍️</h1>
    <p>Découvrez nos boutiques et nos produits</p>
  </header>

  <div *ngIf="isLoading" class="loading">Chargement des boutiques...</div>

  <div class="grid-boutiques" *ngIf="!isLoading">
    
    <div class="card" *ngFor="let b of boutiques">
      <div class="card-header">
        <span class="badge" *ngIf="b.est_ouvert">OUVERT</span>
        <span class="badge closed" *ngIf="!b.est_ouvert">FERMÉ</span>
        
        <img [src]="b.logo || 'https://placehold.co/300x200?text=Logo+Boutique'" alt="Logo {{ b.nom }}">
      </div>
      
      <div class="card-body">
        <h3>{{ b.nom }}</h3>
        <p class="category">{{ b.id_categorie?.nom }}</p>
        <p class="desc">{{ b.description }}</p>
        <p class="location">📍 {{ b.id_box?.nom }} ({{ b.id_box?.etage == 0 ? 'RDC' : 'Étage 1' }})</p>
      </div>

      <div class="card-footer">
        <button>Voir la boutique</button>
      </div>
    </div>

  </div>
</div>